<!DOCTYPE html>
<head>
	<meta charset="utf-8" >
	<title>パプリカ</title>
	<style type="text/css">
		h1 { color: green; }
		img {
			width: 250px;
			height: 150px;
			margin: 20px;
		}
	</style>
	<script type="text/javascript" src="/program.js"></script>
</head>
<body>
	<h1>Top page</h1>
	<p id="test">Publishing on Web server.</p>
	<form>
		<input type="text" id="keyword" size="50" />
		<input type="button" id="send" value="Button" />
	</form>
	<hr>
	<div class="video">	
	  <iframe
	  src="https://www.youtube.com/embed/A2kCOByTVSU"
	  frameborder="0" allowfullscreen>
	  </iframe>
	  <iframe
	  src="https://www.youtube.com/embed/HugOjfPW-04"
	  frameborder="0" allowfullscreen>
	  </iframe>
	</div>
	<hr>
	<div id="result"></div>
</body>
</html>
